<!doctype html>
<html lang="en">

<head>
  {%- include('../common/head') -%}
  <title>Intelligence Hub</title>
  <meta name="description"
    content="Intelligence Hub aggregates responses from major AI chatbots and search engines, providing a centralized platform to explore intelligence insights across various providers.">
</head>

<body>
  Intelligence Hub
</body>

</html>
