<!doctype html>
<html lang="en">

<head>
  {%- include('../common/head') -%}
  <title>Intelligence Hub</title>
  <meta name="description"
    content="Intelligence Hub aggregates responses from major AI chatbots and search engines, providing a centralized platform to explore intelligence insights across various providers.">
</head>

<div class="content content--chat">
  <form id="app" v-cloak>
    <div class="form__chat-container">
      <div class="form__chat-messages">
        <div class="form__chat-message">
          <div class="form__chat-user">Hello</div>
        </div>
        <div class="form__chat-message form__chat-message--agents">
          <div class="form__agent">
            <div class="form__agent-name">ChatGPT 4</div>
            <div class="form__agent-response">
              Spending three days in New York City offers a fantastic opportunity to experience its vibrant culture, iconic landmarks, and diverse neighborhoods. Here's a suggested itinerary to help you make the most of your visit:

### Day 1: Explore Midtown Manhattan
- **Morning:** Start your day with a visit to the Empire State Building. Its observation decks offer stunning views of the city. Afterwards, enjoy breakfast at a nearby cafe.
- **Midday:** Take a stroll through Times Square, experiencing the bustling energy and neon lights. Visit the nearby Bryant Park for a more tranquil atmosphere.
- **Afternoon:** Explore the Museum of Modern Art (MoMA) to see an impressive collection of modern artworks. Then, head to Rockefeller Center; consider taking the Top of the Rock Observation Deck tour for more breathtaking views.
- **Evening:** Catch a Broadway show. It's a quintessential New York experience. Make sure to book your tickets in advance!
            </div>
          </div>
          <div class="form__agent">
            <div class="form__agent-name">Claude 3 Opus</div>
            <div class="form__agent-response">Processing...</div>
          </div>
          <div class="form__agent">
            <div class="form__agent-name">Llama 2 Chat (70B)</div>
            <div class="form__agent-response">Processing...</div>
          </div>
        </div>
      </div>
      <div class="form__chat-input">
        <div class="form__group form__group--inline">
          <input type="input" spellcheck="false" id="input" v-model.trim="input"
            placeholder="Message" @keyup.enter.exact="send" required>
          <button @click="send" :disabled="pending.app" class="button--send">
            <span>Send</span>
            <span v-if="pending.app">...</span>
          </button>
        </div>
        <div class="form__oops" v-text="oops.app"></div>
      </div>
    </div>
  </form>
</div>

<script>
  window.onload = () => {
    common.createApp('#app', {
      input: '',
    }, {
      send() {
        this.submit('/chat/send', ['input']);
      }
    });
  };
</script>

</html>