<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/styles/highlight.css">
  <link rel="stylesheet" href="/styles/markdown.css">
  {%- include('../common/head') -%}
  <script defer
    src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.2/markdown-it.min.js"></script>
  <script defer
    src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="/scripts/index.js"></script>
  <title>Intelligence Hub</title>
  <meta name="description"
    content="Intelligence Hub aggregates responses from major AI chatbots and search engines, providing a centralized platform to explore intelligence insights across various providers.">
  <link rel="manifest" href="/manifest.json">
</head>

<div class="content content--chat">
  <form id="app" @submit.prevent v-cloak>
    <div class="form__chat-container">
      <div class="form__chat-messages" ref="scroll">
        <div class="form__chat-message" v-for="message in messages">
          <div class="form__chat-user" v-if="message.role === 'user'">
            <div class="form__chat-bubble" v-text="message.content"></div>
            <div v-if="message.image" class="form__image-preview">
              <img :src="message.image" alt="uploaded image"
                @click.prevent="openImageInNewTab(message.image)">
            </div>
          </div>
          <div class="form__chat-assistants" v-else-if="message.role === 'assistants'">
            <div class="form__assistant" v-for="(response, assistant) in message.content">
              <div class="form__assistant-name" v-text="assistant.toUpperCase()"></div>
              <div class="form__assistant-response markdown-body"
                v-if="typeof response === 'string'"
                v-markdown="response === '' ? 'Processing...' : response"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="form__chat-input">
        <div class="form__group form__group--inline">
          <button class="form__eco" :class="{'form__eco--active': mode === 'eco'}"
            @click.prevent="switchMode()" v-if="mode==='eco'">ECO</button>
          <button class="form__pro" :class="{'form__pro--active': mode === 'pro'}"
            @click.prevent="switchMode()" v-if="mode==='pro'">PRO</button>
          <button class="button--image" @click.prevent="attachImage()">
            <!-- Image icon -->
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
              <path
                d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm86-157h429q9 0 13-8t-1-16L590-457q-5-6-12-6t-12 6L446-302l-81-111q-5-6-12-6t-12 6l-86 112q-6 8-2 16t13 8Z" />
            </svg>
          </button>
          <input ref="focus" type="input" spellcheck="false" id="input" v-model.trim="input"
            placeholder="Message" @keydown.enter.prevent @keyup.enter.exact="send">
          <button @click.prevent="send" :disabled="pending.app" class="button--send"
            v-if="!pending.app">
            <img src="/images/send.svg" alt="send">
          </button>
          <button @click.prevent="stop" :disabled="!pending.app" class="button--stop"
            v-if="pending.app">
            <img src="/images/stop.svg" alt="stop">
          </button>
        </div>
        <div v-if="image" class="form__image-preview">
          <img :src="image" alt="uploaded image" @click.prevent="openImageInNewTab(image)">
          <button class="button--cancel-image" @click.prevent="image=''">
            <!-- Cancel icon -->
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
              <path
                d="m480-438 129 129q9 9 21 9t21-9q9-9 9-21t-9-21L522-480l129-129q9-9 9-21t-9-21q-9-9-21-9t-21 9L480-522 351-651q-9-9-21-9t-21 9q-9 9-9 21t9 21l129 129-129 129q-9 9-9 21t9 21q9 9 21 9t21-9l129-129Zm0 358q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Z" />
            </svg>
        </div>
        <div class="form__note">
          AI can make mistakes. Consider checking important information.
        </div>
      </div>
    </div>
</div>
</form>
</div>

</html>