@blue-400: #3d8bfd;
@blue-600: #0a58ca;
@gray-100: #f8f9fa;
@gray-200: #e9ecef;
@gray-400: #ced4da;
@gray: #adb5bd;
@gray-600: #6c757d;
@gray-800: #343a40;
@gray-900: #212529;
@red: #dc3545;
@green-200: #a3cfbb;
@green: #198754;
@transition-time: 0.15s;

.user-select(@user-select) {
  -webkit-user-select: @user-select;
  -moz-user-select: @user-select;
  -ms-user-select: @user-select;
  user-select: @user-select;
}

body {
  min-height: 100vh;
  min-width: 22rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}

[v-cloak] {
  display: none;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: @blue-600;
  font-weight: bold;
}

input[type="email"],
input[type="password"],
input[type="input"] {
  border: 1px solid @gray-400;
  border-radius: 0.375rem;
  display: block;
  font-size: 1rem;
  outline: none;
  padding: 0.4rem 0.75rem;
  transition: border-color @transition-time ease-in-out, box-shadow @transition-time ease-in-out;
  width: 100%;
}

input[type=checkbox] {
  margin-right: 0;

  &+* {
    padding-left: 0.5rem;
  }

  &:focus {
    outline: none;
  }
}

button {
  align-items: center;
  background-color: @blue-600;
  border: none;
  border-radius: 1.2rem;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color @transition-time ease-in-out;
  vertical-align: middle;
  width: 100%;
  .user-select(none);

  &:hover {
    background-color: @blue-400;
  }

  &:disabled {
    background-color: @gray-600;
    pointer-events: none;
  }
}

.button--action {
  flex: 0;
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  img {
    height: 1.5rem;
    width: 1.5rem;
  }
}

button.button--send {
  .button--action;
}

button.button--stop {
  .button--action;
  background-color: @gray-800;
  &:hover, &:active {
    background-color: @gray-600;
  }
}

.form__group {
  margin-bottom: 1rem;

  >* {
    display: block;
    margin-bottom: 0.25rem;
  }
}

.form__error {
  color: @red;
  font-size: 0.85rem;
}

.form__oops {
  color: @red;
  font-size: 0.85rem;
}

.form__group--inline {
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;

  >* {
    margin-right: 1rem;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.content {
  color: @gray-900;
  font-size: 1rem;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

.content--form {
  max-width: 26rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.015rem;
    line-height: 1.25;
    margin-bottom: 2rem;
  }
}

.content--chat {
  padding: 0;
}

.form__chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.form__chat-messages {
  flex-grow: 1;
  overflow-y: auto;
}

.form__chat-messages {
  padding: 1.5rem;
}

.form__chat-message {
  margin-bottom: 1rem;
}

.form__chat-user {
  text-align: right;
}

.form__chat-bubble {
  background-color: @blue-600;
  border-radius: 0.8rem 0.8rem 0 0.8rem;
  color: white;
  display: inline-block;
  padding: 0.25rem 0.75rem;
}

.form__chat-assistants {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.form__assistant {
  flex: 1;
  padding: 0;
  margin-right: 1.5rem;

  &:last-child {
    margin-right: 0;
  }
}

.form__assistant-name {
  font-weight: bold;
  border-bottom: 2px solid @gray-400;
  padding: 0.25rem 0;
}

.form__assistant-response {
  font-size: 0.9rem;
  padding: 0.25rem 0;
}

.form__assistant-search-host {
  color: @gray-600;
  font-size: 0.85rem;
}

.form__mode {
  flex: 0;
  color: @gray-600;
  background-color: white;
  border: 1px solid @gray-600;
  padding: 0.375rem 0.75rem;

  &:hover, &:active {
    background-color: @gray-200;
    color: @gray-800;
  }
}

.form__mode--active {
  color: white;
  cursor: default;
  &:hover, &:active {
    color: white;
  }
}

.form__eco {
  .form__mode;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  padding-right: 0.5rem;
}

.form__eco--active {
  .form__mode--active;
  border: 1px solid #0f5132;
  background-color: @green;
  &:hover, &:active {
    background-color: @green;
  }
}

.form__pro {
  .form__mode;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  padding-left: 0.5rem;
}

.form__pro--active {
  .form__mode--active;
  border: 1px solid black;
  background-color: @gray-800;
  &:hover, &:active {
    background-color: @gray-800;
  }
}

.form__chat-input {
  background-color: white;
  border-top: 1px solid @gray-400;
  margin: 0;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 767px) {
  .form__assistant {
    flex: 1 1 100%;
    margin-right: 0;
  }

  .form__chat-input {
    padding: 1rem;
  }

  .form__chat-messages {
    padding: 1rem;
  }
}
